.sidebar{
    width: 100%;
    background-color: #fff;
    padding: 3rem 0;
    margin: 0 auto;
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 2;
    transition: all .5s ease-out;
}
.sidebar-container{
    width: 80%;
    margin: 0 auto;
}
.sidebar-close-btn{
    text-align: right;
}
.sidebar-close-btn button{
    margin-top: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    border: none;
    border-radius: 5px;
}
.sidebar-close-btn button:hover{
    color: red;
}
.sidebar-links h4{
   text-transform: capitalize;
   font-size: 1.4rem;
   margin-bottom: 20px;
}
.sidebar-sublinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}
.sidebar-sublinks a{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #666666;
}
.sidebar-sublinks a span{
    margin-right: 10px;
}
.sidebar-sublinks a:hover{
    color: #000;
}
.show-sidebar{
    left: 0;
    top: 0%;
}
